<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anand.mynotesharingapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BIND_TELECOM_CONNECTION_SERVICE"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>

    <permission android:protectionLevel="signature"
        android:name="com.example.permission.mynotesharingapp" />
    <uses-permission android:name="com.example.permission.mynotesharingapp" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DisplayOptionsFile"/>
        <activity android:name=".UploadOptionsFile"/>
        <activity android:name=".UploadStepOne"/>
        <activity android:name=".ExploreJPEGActivity"/>
        <activity android:name=".ProfileSetup"/>
        <activity android:name=".ShowOwnJPEGUploads"/>
        <activity android:name=".ExploreOptionsFile" />
        <activity android:name=".OwnOptionsFile" />
        <activity android:name=".ExplorePDFActivity"/>
        <activity android:name=".ShowOwnPDFUploads"/>
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>
        <activity android:name=".newActivityTab1"/>
        <activity android:name=".newActivityTab2"/>
        <activity android:name=".newActivityTab3">



        </activity>
        <activity android:name=".newActivityTab4">


        </activity>

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

    </application>



    <activity android:name="com.facebook.FacebookActivity"
        android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"
        android:label="@string/app_name" />

</manifest>